[submodule "Daydream/Vendor/spdlog"]
	path = Daydream/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Daydream/Vendor/imgui"]
	path = Daydream/Vendor/imgui
	url = https://github.com/Seokwon-Park/imgui
[submodule "Daydream/Vendor/glfw"]
	path = Daydream/Vendor/glfw
	url = https://github.com/Seokwon-Park/glfw
[submodule "Daydream/Vendor/glm"]
	path = Daydream/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Daydream/Vendor/ImGuizmo"]
	path = Daydream/Vendor/ImGuizmo
	url = https://github.com/Seokwon-Park/ImGuizmo
[submodule "Daydream/Vendor/yaml-cpp"]
	path = Daydream/Vendor/yaml-cpp
	url = https://github.com/Seokwon-Park/yaml-cpp
[submodule "Daydream/Vendor/nfd-extended"]
	path = Daydream/Vendor/nfd-extended
	url = https://github.com/Seokwon-Park/nativefiledialog-extended
[submodule "Daydream/Vendor/DaydreamMath"]
	path = Daydream/Vendor/DaydreamMath
	url = https://github.com/Seokwon-Park/DaydreamMath
[submodule "Daydream/Vendor/imgui-node-editor"]
	path = Daydream/Vendor/imgui-node-editor
	url = https://github.com/Seokwon-Park/imgui-node-editor
